{% extends "errors/_base_error.html" %}

{% block title %}Server error{% endblock %}
{% block accent_color %}var(--danger){% endblock %}
{% block code_color %}var(--danger){% endblock %}
{% block error_code %}500{% endblock %}
{% block error_title %}Something went wrong on our end{% endblock %}
{% block error_body %}
  We hit an unexpected error and our team has been notified.
  Try reloading the page in a moment, or go back to where you were.
{% endblock %}
{% block error_actions %}
  <a href="{% url 'app_hub' %}" class="btn btn-primary">Go to Hub</a>
  <a href="javascript:window.location.reload()" class="btn btn-secondary">Reload</a>
{% endblock %}
